@import "../../index.scss";

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: max-content;
  background-color: $white;
  padding: 30px;
  color: $black;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
  transition: $transition03;
  &:hover {
    transform: scale(1.05);
    .completeButton {
      opacity: 1;
      pointer-events: all;
    }
    .menuMore {
      opacity: 1;
      pointer-events: all;
    }
  }

  &[data-is-completed="true"] {
    background-color: $green;
    color: $white;
  }
}

.completeButton {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%);
  padding: 5px;
  transition: $transition03;
  color: $black;
  .completeIcon {
    transition: $transition03;
  }
  &:hover {
    .completeIcon {
      transform: translateY(-2px);
      color: $green;
    }
  }
  .deCompleteIcon {
    transition: $transition03;
  }
  &:hover {
    .deCompleteIcon {
      transform: translateY(-2px);
    }
  }
}

.menuMore {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: $transition03;
}

.title {
  font-size: 18px;
  font-weight: 600;
  max-width: 80%;
}

.text {
  margin-top: 10px;
}

.date {
  margin-top: 10px;
  width: max-content;
  align-self: flex-end;
}
